<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>ChallegeAuthPage</title>
</head>
<body>
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DevRoutine</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="float: left" class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" th:href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th::href="/challenges">Challenge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="/mypage">MyPage</a>
        </li>
      </ul>
    </div>
    <div style="float: right" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="/alarm">
            <img src="/static/assets/img/alarm.png" witdh="20" height="20"/></a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- 인증하기 -->
<div style="margin: 20px;">
  <div class="card mb-3">
    <div>
      <div class="card-header"> <!--여기 방식 통일하기 -->
        <p class="card-text">인증하기</p>
      </div>
      <div class="card-body">
        <p>사진 인증</p>
        <div style="display: flex;">
          <div style="border: solid; width: 150px; height: 150px; display : flex; justify-content: center; align-items : center; margin-right: 5px;" >
            <div>
              <p>+</p>
            </div>
          </div>
          <div style="border: solid; width: 150px; height: 150px; display : flex; justify-content: center; align-items : center; margin-right: 5px;" >
            <div>
              <p>사진</p>
            </div>
          </div>
          <div style="border: solid; width: 150px; height: 150px; display : flex; justify-content: center; align-items : center; margin-right: 5px;" >
            <div>
              <p>사진</p>
            </div>
          </div>
          <div style="border: solid; width: 150px; height: 150px; display : flex; justify-content: center; align-items : center; margin-right: 5px;" >
            <div>
              <p>사진</p>
            </div>
          </div>
          <div style="border: solid; width: 150px; height: 150px; display : flex; justify-content: center; align-items : center; margin-right: 5px;" >
            <div>
              <p>사진</p>
            </div>
          </div>
          <div style="border: solid; width: 150px; height: 150px; display : flex; justify-content: center; align-items : center; margin-right: 5px;" >
            <div>
              <p>사진</p>
            </div>
          </div>
        </div>

        <!-- github 인증 방식?? 어떤식으로 만들어질지 모르겠습니다 -->
        <div>
          <p>github 인증</p>
          <p>github 링크</p>
        </div>
      </div>
      <div class="card-footer text-muted">
        <button class="btn btn-lg btn-primary" type="button">인증하기</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
